<div class="unsafe-modal-confirm">
  <div class="hidden overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center" id="unsafe-modal-confirm">
    <div class="relative w-auto my-6 mx-auto max-w-sm">
      <div class="border-0 shadow-lg relative flex flex-col w-full bg-slate-900 outline-none focus:outline-none">

        <div class="relative p-6 flex-auto select-none">
          <%== t('.warning') %>
        </div>

        <div class="flex items-center justify-begin p-6 border-solid border-slate-200 rounded-b" data-controller="snippets">
          <button class="btn btn-red mr-2" type="button" data-action="snippets#toggleUnsafeConfirmModal">
            <%= t('.close')%>
          </button>
          <button class="btn btn-emerald" type="button" data-action="snippets#unsafeSnippetSubmitForm">
            <%= t('.publish')%>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden opacity-25 fixed inset-0 z-40 bg-black" id="unsafe-modal-backdrop"></div>
</div>
