@font-face {
  font-family: 'PT Mono';
  src: url('pt_mono_regular.woff');
  font-display: swap;
}

body {
  font-family: 'Tahoma', sans-serif;
}

code, .font-mono {
  font-family: 'PT Mono', monospace;
}
