<div class="relative flex h-full group">
  <span class="absolute top-3 right-5">
    <%= link_to "Простым текстом", {format: 'text'},
      class: 'btn btn-amber opacity-25 group-hover:opacity-75' %>
  </span>

  <div class="grow px-5 py-3 bg-slate-700">
    <pre><code class="whitespace-pre-wrap"><%= h(@text.body) %></code></pre>
  </div>
</div>
